### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Loead (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=[
                                "school_name", "school_name"])

In [2]:
####### 
# student_data
# school_data
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Calculate the total number of schools

schools_series = school_data_complete["school_name"].unique()

schools_count = len(schools_series)

print(f"The total number of schools is {schools_count}")

The total number of schools is 15

In [4]:
# Calculate the total number of students

student_count = student_data["student_name"].count()

print(f"The total number of students is {student_count}")

The total number of students is 39170

In [5]:
# * Calculate the total budget

total_budget = school_data["budget"].sum()

print(f"The total budget is {total_budget}")

The total budget is 24649428

In [6]:
# * Calculate the average maths score

maths_average = school_data_complete["maths_score"].mean()

print(f"The average maths score is {maths_average}")

The average maths score is 70.33819249425581

In [7]:
# * Calculate the average reading score

reading_average = school_data_complete["reading_score"].mean()

print(f"The average reading score is {reading_average}")

The average reading score is 69.98013786060761

In [8]:
# * Calculate the percentage of students with a passing maths score (50 or greater)

math_pass_students = school_data_complete.loc[school_data_complete["maths_score"] >= 50,:]

number_math_pass = len(math_pass_students) / len(school_data_complete["maths_score"])

number_math_pass = number_math_pass * 100

print(f"The percentage of students with a passing maths score is {number_math_pass}%")

The percentage of students with a passing maths score is 86.07863160582077%

In [9]:
# * Calculate the percentage of students with a passing reading score (50 or greater)

read_pass_students = school_data_complete.loc[school_data_complete["reading_score"] >= 50,:]

number_read_pass = len(read_pass_students) / len(school_data_complete["reading_score"])

number_read_pass = number_read_pass * 100

print(f"The percentage of students with a passing reading score is {number_read_pass}%")

The percentage of students with a passing reading score is 84.42685728874139%

In [10]:
# * Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

total_pass_read = len(read_pass_students)
total_pass_math = len(math_pass_students)
total_pass = total_pass_read + total_pass_math
total_read = len(school_data_complete["reading_score"])
total_math = len(school_data_complete["maths_score"])
total_all = total_read + total_math

total_both = total_pass / total_all

total_both = total_both * 100

print(f"The percentage of students with a passing reading score and a passing math score is {total_both}%")

The percentage of students with a passing reading score and a passing math score is 85.25274444728109%

In [11]:
# * Create a dataframe to hold the above results

results_df = pd.DataFrame({
    "Total Number Of Schools": [schools_count],
    "Total Number Of Students": [student_count],
    "Total Budget": [total_budget],
    "Average Maths Score": [maths_average],
    "Average Reading Score": [reading_average],
    "Percentage Of Students With A Passing Maths Score": [number_math_pass],
    "Percentage Of Students With A Passing Reading Score": [number_read_pass],
    "Percentage Of Students With A Passing Maths & Reading Score": [total_both]
    })

results_df

,Total Number Of Schools,Total Number Of Students,Total Budget,Average Maths Score,Average Reading Score,Percentage Of Students With A Passing Maths Score,Percentage Of Students With A Passing Reading Score,Percentage Of Students With A Passing Maths & Reading Score
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,85.252744

In [12]:
# * Optional: give the displayed data cleaner formatting
results_df["Total Budget"] = results_df["Total Budget"].map("${:,}".format)
results_df["Total Number Of Students"] = results_df["Total Number Of Students"].map("{:,}".format)
results_df["Average Maths Score"] = results_df["Average Maths Score"].map("{:.2f}%".format)
results_df["Average Reading Score"] = results_df["Average Reading Score"].map("{:.2f}%".format)
results_df["Percentage Of Students With A Passing Maths Score"] = results_df["Percentage Of Students With A Passing Maths Score"].map("{:.2f}%".format)
results_df["Percentage Of Students With A Passing Reading Score"] = results_df["Percentage Of Students With A Passing Reading Score"].map("{:.2f}%".format)
results_df["Percentage Of Students With A Passing Maths & Reading Score"] = results_df["Percentage Of Students With A Passing Maths & Reading Score"].map("{:.2f}%".format)
results_df

,Total Number Of Schools,Total Number Of Students,Total Budget,Average Maths Score,Average Reading Score,Percentage Of Students With A Passing Maths Score,Percentage Of Students With A Passing Reading Score,Percentage Of Students With A Passing Maths & Reading Score
0,15,"39,170","$24,649,428",70.34%,69.98%,86.08%,84.43%,85.25%

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [22]:
# School name
school_names = school_data_complete.set_index("school_name").groupby(["school_name"])
print({school_names})

{<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001EC6A4450C8>}

In [ ]:
# School type

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# scores by school size

## Scores by School Type

* Perform the same operations as above, based on school type