### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Loead (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=[
                                "school_name", "school_name"])

In [2]:
####### 
# student_data
# school_data
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Calculate the total number of schools

schools_series = school_data_complete["school_name"].unique()

schools_count = len(schools_series)

print(f"The total number of schools is {schools_count}")

The total number of schools is 15

In [4]:
# Calculate the total number of students

student_count = student_data["student_name"].count()

print(f"The total number of students is {student_count}")

The total number of students is 39170

In [5]:
# * Calculate the total budget

total_budget = school_data["budget"].sum()

print(f"The total budget is {total_budget}")

The total budget is 24649428

In [6]:
# * Calculate the average maths score

maths_average = school_data_complete["maths_score"].mean()

print(f"The average maths score is {maths_average}")

The average maths score is 70.33819249425581

In [7]:
# * Calculate the average reading score

reading_average = school_data_complete["reading_score"].mean()

print(f"The average reading score is {reading_average}")

The average reading score is 69.98013786060761

In [8]:
# * Calculate the percentage of students with a passing maths score (50 or greater)

math_pass_students = school_data_complete.loc[school_data_complete["maths_score"] >= 50,:]

number_math_pass = len(math_pass_students) / len(school_data_complete["maths_score"])

number_math_pass = number_math_pass * 100

print(f"The percentage of students with a passing maths score is {number_math_pass}%")

The percentage of students with a passing maths score is 86.07863160582077%

In [9]:
# * Calculate the percentage of students with a passing reading score (50 or greater)

read_pass_students = school_data_complete.loc[school_data_complete["reading_score"] >= 50,:]

number_read_pass = len(read_pass_students) / len(school_data_complete["reading_score"])

number_read_pass = number_read_pass * 100

print(f"The percentage of students with a passing reading score is {number_read_pass}%")

The percentage of students with a passing reading score is 84.42685728874139%

In [10]:
# * Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

total_pass_read = len(read_pass_students)
total_pass_math = len(math_pass_students)
total_pass = total_pass_read + total_pass_math
total_read = len(school_data_complete["reading_score"])
total_math = len(school_data_complete["maths_score"])
total_all = total_read + total_math

total_both = total_pass / total_all

total_both = total_both * 100

print(f"The percentage of students with a passing reading score and a passing math score is {total_both}%")

The percentage of students with a passing reading score and a passing math score is 85.25274444728109%

In [63]:
# * Create a dataframe to hold the above results

results_df = pd.DataFrame({
    "Total Number Of Schools": [schools_count],
    "Total Number Of Students": [student_count],
    "Total Budget": [total_budget],
    "Average Maths Score": [maths_average],
    "Average Reading Score": [reading_average],
    "% Passing Maths": [number_math_pass],
    "% Passing Reading": [number_read_pass],
    "% Overall Passing": [total_both]
    })

results_df

,Total Number Of Schools,Total Number Of Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,85.252744

In [64]:
# * Optional: give the displayed data cleaner formatting
results_df["Total Budget"] = results_df["Total Budget"].map("${:,}".format)
results_df["Total Number Of Students"] = results_df["Total Number Of Students"].map("{:,}".format)
results_df["Average Maths Score"] = results_df["Average Maths Score"].map("{:.2f}%".format)
results_df["Average Reading Score"] = results_df["Average Reading Score"].map("{:.2f}%".format)
results_df["% Passing Maths"] = results_df["% Passing Maths"].map("{:.2f}%".format)
results_df["% Passing Reading"] = results_df["% Passing Reading"].map("{:.2f}%".format)
results_df["% Overall Passing"] = results_df["% Overall Passing"].map("{:.2f}%".format)
results_df

,Total Number Of Schools,Total Number Of Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",70.34%,69.98%,86.08%,84.43%,85.25%

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [65]:
# School name
school_names = school_data_complete.set_index("school_name").groupby(["school_name"])
school_names

In [66]:
# School type
school_types = school_data.set_index("school_name")["type"]
school_types

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [67]:
# Total students
total_students = school_names['Student ID'].count()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [68]:
# Total school budget
school_budget = school_data.set_index('school_name')['budget']
school_budget = school_budget.astype(int)


school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int32

In [69]:
# Per student budget
merge_df = pd.merge(school_budget, total_students, on="school_name")
merge_df_totals = merge_df['budget'] / merge_df['Student ID']
merge_df_totals

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [70]:
# Average maths score
average_maths_score = school_names["maths_score"].mean()
average_maths_score

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [71]:
# Average reading score
average_reading_score = school_names["reading_score"].mean()
average_reading_score

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [72]:
# % Passing maths
passing_maths = school_data_complete.loc[school_data_complete["maths_score"] >= 50,:].groupby(["school_name"])["maths_score"].count()
passing_maths_totals = passing_maths / total_students * 100
passing_maths_totals


# passing_maths = len(passing_maths) / len(school_names["reading_score"])

school_name
Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64

In [73]:
# % Passing reading
passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 50,:].groupby(["school_name"])["reading_score"].count()
passing_reading_totals = passing_reading / total_students * 100
passing_reading_totals

school_name
Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64

In [74]:
# Overall passing
overall_passing = (school_data_complete.loc[(school_data_complete["reading_score"] >= 50) & (school_data_complete["maths_score"] >= 50)].groupby(["school_name"])["Student ID"].count())
overall_count = overall_passing / total_students * 100

overall_count

school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
Name: Student ID, dtype: float64

In [93]:
# Dataframe Summary
summary_df = pd.DataFrame({
    "School Type": school_types,
    "Total Students": total_students,
    "Total Budget": school_budget,
    "Per Student Budget": merge_df_totals,
    "Average Maths Scores": average_maths_score,
    "Average Reading Scores": average_reading_score,
    "% Passing Maths": passing_maths_totals,
    "% Passing Reading": passing_reading_totals,
    "% Overall Passing": overall_count
    })

summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Maths Scores,Average Reading Scores,% Passing Maths,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,585858,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222

In [94]:
summary_df_2 = pd.DataFrame({
    "School Type": school_types,
    "Total Students": total_students,
    "Total Budget": school_budget,
    "Per Student Budget": merge_df_totals,
    "Average Maths Scores": average_maths_score,
    "Average Reading Scores": average_reading_score,
    "% Passing Maths": passing_maths_totals,
    "% Passing Reading": passing_reading_totals,
    "% Overall Passing": overall_count
    })

In [95]:
# Clean up output
summary_df["Total Budget"] = summary_df["Total Budget"].map("${:,}".format)
summary_df["Per Student Budget"] = summary_df["Per Student Budget"].map("${:,}".format)
summary_df["Average Maths Scores"] = summary_df["Average Maths Scores"].map("{:.2f}%".format)
summary_df["Average Reading Scores"] = summary_df["Average Reading Scores"].map("{:.2f}%".format)
summary_df["% Passing Maths"] = summary_df["% Passing Maths"].map("{:.2f}%".format)
summary_df["% Passing Reading"] = summary_df["% Passing Reading"].map("{:.2f}%".format)
summary_df["% Overall Passing"] = summary_df["% Overall Passing"].map("{:.2f}%".format)
summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Maths Scores,Average Reading Scores,% Passing Maths,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,"$3,124,928",$628.0,72.35%,71.01%,91.64%,87.38%,80.08%
Cabrera High School,Independent,1858,"$1,081,356",$582.0,71.66%,71.36%,90.85%,89.07%,80.79%
Figueroa High School,Government,2949,"$1,884,411",$639.0,68.70%,69.08%,81.65%,82.81%,67.65%
Ford High School,Government,2739,"$1,763,916",$644.0,69.09%,69.57%,82.44%,82.22%,67.47%
Griffin High School,Independent,1468,"$917,500",$625.0,71.79%,71.25%,91.21%,88.49%,81.34%
Hernandez High School,Government,4635,"$3,022,020",$652.0,68.87%,69.19%,80.95%,81.88%,66.36%
Holden High School,Independent,427,"$248,087",$581.0,72.58%,71.66%,89.93%,88.52%,78.92%
Huang High School,Government,2917,"$1,910,635",$655.0,68.94%,68.91%,81.69%,81.45%,66.71%
Johnson High School,Government,4761,"$3,094,650",$650.0,68.84%,69.04%,82.06%,81.98%,67.19%
Pena High School,Independent,962,"$585,858",$609.0,72.09%,71.61%,91.68%,86.59%,79.21%
Rodriguez High School,Government,3999,"$2,547,363",$637.0,72.05%,70.94%,90.80%,87.40%,79.42%
Shelton High School,Independent,1761,"$1,056,600",$600.0,72.03%,70.26%,91.54%,86.71%,78.88%
Thomas High School,Independent,1635,"$1,043,130",$638.0,69.58%,69.77%,83.85%,82.63%,69.48%
Wilson High School,Independent,2283,"$1,319,574",$578.0,69.17%,68.88%,82.79%,81.30%,67.46%
Wright High School,Independent,1800,"$1,049,400",$583.0,72.05%,70.97%,91.78%,86.67%,79.72%

### Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [97]:
top_5_passing = summary_df.sort_values('% Overall Passing', ascending=False).head(5)
top_5_passing

,School Type,Total Students,Total Budget,Per Student Budget,Average Maths Scores,Average Reading Scores,% Passing Maths,% Passing Reading,% Overall Passing
Griffin High School,Independent,1468,"$917,500",$625.0,71.79%,71.25%,91.21%,88.49%,81.34%
Cabrera High School,Independent,1858,"$1,081,356",$582.0,71.66%,71.36%,90.85%,89.07%,80.79%
Bailey High School,Government,4976,"$3,124,928",$628.0,72.35%,71.01%,91.64%,87.38%,80.08%
Wright High School,Independent,1800,"$1,049,400",$583.0,72.05%,70.97%,91.78%,86.67%,79.72%
Rodriguez High School,Government,3999,"$2,547,363",$637.0,72.05%,70.94%,90.80%,87.40%,79.42%

### Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [98]:
bottom_5_passing = summary_df.sort_values('% Overall Passing', ascending=True).head(5)
bottom_5_passing

,School Type,Total Students,Total Budget,Per Student Budget,Average Maths Scores,Average Reading Scores,% Passing Maths,% Passing Reading,% Overall Passing
Hernandez High School,Government,4635,"$3,022,020",$652.0,68.87%,69.19%,80.95%,81.88%,66.36%
Huang High School,Government,2917,"$1,910,635",$655.0,68.94%,68.91%,81.69%,81.45%,66.71%
Johnson High School,Government,4761,"$3,094,650",$650.0,68.84%,69.04%,82.06%,81.98%,67.19%
Wilson High School,Independent,2283,"$1,319,574",$578.0,69.17%,68.88%,82.79%,81.30%,67.46%
Ford High School,Government,2739,"$1,763,916",$644.0,69.09%,69.57%,82.44%,82.22%,67.47%

### Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [99]:
# Create a pandas series for each year. Hint: use a conditional statement.
# Group each series by school
year_9 = school_data_complete.loc[school_data_complete["year"] == 9].groupby(["school_name"])["maths_score"].mean()
year_10 = school_data_complete.loc[school_data_complete["year"] == 10].groupby(["school_name"])["maths_score"].mean()
year_11 = school_data_complete.loc[school_data_complete["year"] == 11].groupby(["school_name"])["maths_score"].mean()
year_12 = school_data_complete.loc[school_data_complete["year"] == 12].groupby(["school_name"])["maths_score"].mean()

In [100]:
year_results_df = pd.DataFrame({
    "Year 9": year_9,
    "Year 10": year_10,
    "Year 11": year_11,
    "Year 12": year_12
    })

year_results_df

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

In [101]:
# Clean up output
year_results_df["Year 9"] = year_results_df["Year 9"].map("{:.2f}%".format)
year_results_df["Year 10"] = year_results_df["Year 10"].map("{:.2f}%".format)
year_results_df["Year 11"] = year_results_df["Year 11"].map("{:.2f}%".format)
year_results_df["Year 12"] = year_results_df["Year 12"].map("{:.2f}%".format)
year_results_df = year_results_df.rename(columns={"school_name":"School Name"})

year_results_df

                       Year 9 Year 10 Year 11 Year 12
school_name
Bailey High School     72.49%  71.90%  72.37%  72.68%
Cabrera High School    72.32%  72.44%  71.01%  70.60%
Figueroa High School   68.48%  68.33%  68.81%  69.33%
Ford High School       69.02%  69.39%  69.25%  68.62%
Griffin High School    72.79%  71.09%  71.69%  71.47%
Hernandez High School  68.59%  68.87%  69.15%  68.99%
Holden High School     70.54%  75.11%  71.64%  73.41%
Huang High School      69.08%  68.53%  69.43%  68.64%
Johnson High School    69.47%  67.99%  68.64%  69.29%
Pena High School       72.00%  72.40%  72.52%  71.19%
Rodriguez High School  71.94%  71.78%  72.36%  72.15%
Shelton High School    72.93%  72.51%  70.10%  72.33%
Thomas High School     69.23%  70.06%  69.66%  69.37%
Wilson High School     69.21%  69.46%  68.38%  69.79%
Wright High School     71.74%  72.18%  73.28%  70.85%

## Reading Score by Year

* Perform the same operations as above for reading scores

In [102]:
# Create a pandas series for each year. Hint: use a conditional statement.
# Group each series by school
year_9r = school_data_complete.loc[school_data_complete["year"] == 9].groupby(["school_name"])["reading_score"].mean()
year_10r = school_data_complete.loc[school_data_complete["year"] == 10].groupby(["school_name"])["reading_score"].mean()
year_11r = school_data_complete.loc[school_data_complete["year"] == 11].groupby(["school_name"])["reading_score"].mean()
year_12r = school_data_complete.loc[school_data_complete["year"] == 12].groupby(["school_name"])["reading_score"].mean()

In [103]:
year_results_df_r = pd.DataFrame({
    "Year 9": year_9r,
    "Year 10": year_10r,
    "Year 11": year_11r,
    "Year 12": year_12r
    })
year_results_df_r

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

In [104]:
# Clean up output
year_results_df_r["Year 9"] = year_results_df_r["Year 9"].map("{:.2f}%".format)
year_results_df_r["Year 10"] = year_results_df_r["Year 10"].map("{:.2f}%".format)
year_results_df_r["Year 11"] = year_results_df_r["Year 11"].map("{:.2f}%".format)
year_results_df_r["Year 12"] = year_results_df_r["Year 12"].map("{:.2f}%".format)
year_results_df_r = year_results_df_r.rename(columns={"school_name":"School Name"})
year_results_df_r

                       Year 9 Year 10 Year 11 Year 12
school_name
Bailey High School     70.90%  70.85%  70.32%  72.20%
Cabrera High School    71.17%  71.33%  71.20%  71.86%
Figueroa High School   70.26%  67.68%  69.15%  69.08%
Ford High School       69.62%  68.99%  70.74%  68.85%
Griffin High School    72.03%  70.75%  72.39%  69.43%
Hernandez High School  68.48%  70.62%  68.42%  69.24%
Holden High School     71.60%  71.10%  73.31%  70.48%
Huang High School      68.67%  69.52%  68.74%  68.67%
Johnson High School    68.72%  69.30%  69.97%  67.99%
Pena High School       70.95%  72.32%  71.70%  71.51%
Rodriguez High School  70.90%  70.14%  71.42%  71.41%
Shelton High School    70.72%  69.88%  71.15%  69.07%
Thomas High School     69.67%  69.74%  70.75%  68.73%
Wilson High School     68.68%  68.41%  68.80%  69.89%
Wright High School     71.82%  71.39%  70.48%  69.82%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [105]:
summary_df_2.dtypes

School Type                object
Total Students              int64
Total Budget                int32
Per Student Budget        float64
Average Maths Scores      float64
Average Reading Scores    float64
% Passing Maths           float64
% Passing Reading         float64
% Overall Passing         float64
dtype: object

In [106]:
# Create bins and bin labels
bins = [0, 585, 630, 645, 680]
bin_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [107]:
# bin data and create new df
summary_df_2["Per Student Budget Ranges"] = pd.cut(summary_df_2["Per Student Budget"], bins, labels=bin_names) 
summary_df2_group = summary_df_2.groupby(["Per Student Budget Ranges"])
summary_df2_mean = summary_df2_group.mean()
spending_summary = summary_df2_mean.drop(['Total Students', 'Total Budget', 'Per Student Budget'], axis=1)

spending_summary

,Average Maths Scores,Average Reading Scores,% Passing Maths,% Passing Reading,% Overall Passing
Per Student Budget Ranges,,,,,
<$585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

In [108]:
# Clean up output
spending_summary["Average Maths Scores"] = spending_summary["Average Maths Scores"].map("{:.2f}%".format)
spending_summary["Average Reading Scores"] = spending_summary["Average Reading Scores"].map("{:.2f}%".format)
spending_summary["% Passing Maths"] = spending_summary["% Passing Maths"].map("{:.2f}%".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:.2f}%".format)
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].map("{:.2f}%".format)
spending_summary

,Average Maths Scores,Average Reading Scores,% Passing Maths,% Passing Reading,% Overall Passing
Per Student Budget Ranges,,,,,
<$585,71.36%,70.72%,88.84%,86.39%,76.72%
$585-630,72.07%,71.03%,91.52%,87.29%,79.88%
$630-645,69.85%,69.84%,84.69%,83.76%,71.00%
$645-680,68.88%,69.05%,81.57%,81.77%,66.76%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [109]:
# Create bins and bin labels
size_bins = [0, 1000, 2000, 5000]
size_bin_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [113]:
# bin data and create new df
summary_df_2["Total Students Range"] = pd.cut(summary_df_2["Total Students"], size_bins, labels=size_bin_names) 
summary_df5_group = summary_df_2.groupby(["Total Students Range"])
summary_df5_mean = summary_df5_group.mean()
size_summary = summary_df5_mean.drop(['Total Students', 'Total Budget', 'Per Student Budget'], axis=1)

size_summary

,Average Maths Scores,Average Reading Scores,% Passing Maths,% Passing Reading,% Overall Passing
Total Students Range,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

In [114]:
# Clean up output
size_summary["Average Maths Scores"] = size_summary["Average Maths Scores"].map("{:.2f}%".format)
size_summary["Average Reading Scores"] = size_summary["Average Reading Scores"].map("{:.2f}%".format)
size_summary["% Passing Maths"] = size_summary["% Passing Maths"].map("{:.2f}%".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:.2f}%".format)
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:.2f}%".format)
size_summary

,Average Maths Scores,Average Reading Scores,% Passing Maths,% Passing Reading,% Overall Passing
Total Students Range,,,,,
Small (<1000),72.34%,71.64%,90.81%,87.56%,79.07%
Medium (1000-2000),71.42%,70.72%,89.85%,86.71%,78.04%
Large (2000-5000),69.75%,69.58%,84.25%,83.30%,70.29%

## Scores by School Type

* Perform the same operations as above, based on school type

In [115]:
# Create bins and bin labels
size_bins = ["Government", "Independent"]
size_bin_names = ["Government", "Independent"]

In [119]:
# bin data and create new df 
summary_df7_group = summary_df_2.groupby(["School Type"])
summary_df7_mean = summary_df7_group.mean()
summary_df7_final = summary_df7_mean.drop(['Total Students', 'Total Budget', 'Per Student Budget'], axis=1)

summary_df7_final

,Average Maths Scores,Average Reading Scores,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340

In [120]:
# Clean up output
summary_df7_final["Average Maths Scores"] = summary_df7_final["Average Maths Scores"].map("{:.2f}%".format)
summary_df7_final["Average Reading Scores"] = summary_df7_final["Average Reading Scores"].map("{:.2f}%".format)
summary_df7_final["% Passing Maths"] = summary_df7_final["% Passing Maths"].map("{:.2f}%".format)
summary_df7_final["% Passing Reading"] = summary_df7_final["% Passing Reading"].map("{:.2f}%".format)
summary_df7_final["% Overall Passing"] = summary_df7_final["% Overall Passing"].map("{:.2f}%".format)
summary_df7_final

,Average Maths Scores,Average Reading Scores,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.83%,69.68%,84.46%,83.59%,70.70%
Independent,71.37%,70.72%,89.20%,86.25%,76.97%

# The End