### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Loead (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=[
                                "school_name", "school_name"])

In [18]:
####### 
student_data

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48
39166,39166,Dawn Bell,F,10,Thomas High School,81,89
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [9]:
# Calculate the total number of schools
schools_series = school_data_complete["school_name"].unique()

schools_count = len(schools_series)

print(f"The total number of schools is {schools_count}")

The total number of schools is 15

In [19]:
# Calculate the total number of students

student_count = student_data["student_name"].count()

print(f"The total number of students is {student_count}")

The total number of students is 39170

In [16]:
# * Calculate the total budget

total_budget = school_data["budget"].sum()

print(f"The total budget is {total_budget}")

The total budget is 24649428

In [3]:





# * Calculate the average maths score

# * Calculate the average reading score

# * Calculate the percentage of students with a passing maths score (50 or greater)

# * Calculate the percentage of students with a passing reading score (50 or greater)

# * Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

# * Create a dataframe to hold the above results

# * Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [4]:
# * Create an overview table that summarises key metrics about each school, including:

#   * School Name
#   * School Type
#   * Total Students
#   * Total School Budget
#   * Per Student Budget
#   * Average Maths Score
#   * Average Reading Score
#   * % Passing Maths
#   * % Passing Reading
#   * % Overall Passing (The percentage of students that passed maths **and** reading.)

# * Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [5]:
# scores by school size

## Scores by School Type

* Perform the same operations as above, based on school type