### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Loead (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=[
                                "school_name", "school_name"])

In [2]:
####### 
# student_data
# school_data
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Calculate the total number of schools

schools_series = school_data_complete["school_name"].unique()

schools_count = len(schools_series)

print(f"The total number of schools is {schools_count}")

The total number of schools is 15

In [4]:
# Calculate the total number of students

student_count = student_data["student_name"].count()

print(f"The total number of students is {student_count}")

The total number of students is 39170

In [5]:
# * Calculate the total budget

total_budget = school_data["budget"].sum()

print(f"The total budget is {total_budget}")

The total budget is 24649428

In [6]:
# * Calculate the average maths score

maths_average = school_data_complete["maths_score"].mean()

print(f"The average maths score is {maths_average}")

The average maths score is 70.33819249425581

In [7]:
# * Calculate the average reading score

reading_average = school_data_complete["reading_score"].mean()

print(f"The average reading score is {reading_average}")

The average reading score is 69.98013786060761

In [8]:
# * Calculate the percentage of students with a passing maths score (50 or greater)

math_pass_students = school_data_complete.loc[school_data_complete["maths_score"] >= 50,:]

number_math_pass = len(math_pass_students) / len(school_data_complete["maths_score"])

number_math_pass = number_math_pass * 100

print(f"The percentage of students with a passing maths score is {number_math_pass}%")

The percentage of students with a passing maths score is 86.07863160582077%

In [9]:
# * Calculate the percentage of students with a passing reading score (50 or greater)

read_pass_students = school_data_complete.loc[school_data_complete["reading_score"] >= 50,:]

number_read_pass = len(read_pass_students) / len(school_data_complete["reading_score"])

number_read_pass = number_read_pass * 100

print(f"The percentage of students with a passing reading score is {number_read_pass}%")

The percentage of students with a passing reading score is 84.42685728874139%

In [10]:
# * Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

total_pass_read = len(read_pass_students)
total_pass_math = len(math_pass_students)
total_pass = total_pass_read + total_pass_math
total_read = len(school_data_complete["reading_score"])
total_math = len(school_data_complete["maths_score"])
total_all = total_read + total_math

total_both = total_pass / total_all

total_both = total_both * 100

print(f"The percentage of students with a passing reading score and a passing math score is {total_both}%")

The percentage of students with a passing reading score and a passing math score is 85.25274444728109%

In [11]:
# * Create a dataframe to hold the above results

results_df = pd.DataFrame({
    "Total Number Of Schools": [schools_count],
    "Total Number Of Students": [student_count],
    "Total Budget": [total_budget],
    "Average Maths Score": [maths_average],
    "Average Reading Score": [reading_average],
    "Percentage Of Students With A Passing Maths Score": [number_math_pass],
    "Percentage Of Students With A Passing Reading Score": [number_read_pass],
    "Percentage Of Students With A Passing Maths & Reading Score": [total_both]
    })

results_df

,Total Number Of Schools,Total Number Of Students,Total Budget,Average Maths Score,Average Reading Score,Percentage Of Students With A Passing Maths Score,Percentage Of Students With A Passing Reading Score,Percentage Of Students With A Passing Maths & Reading Score
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,85.252744

In [12]:
# * Optional: give the displayed data cleaner formatting
results_df["Total Budget"] = results_df["Total Budget"].map("${:,}".format)
results_df["Total Number Of Students"] = results_df["Total Number Of Students"].map("{:,}".format)
results_df["Average Maths Score"] = results_df["Average Maths Score"].map("{:.2f}%".format)
results_df["Average Reading Score"] = results_df["Average Reading Score"].map("{:.2f}%".format)
results_df["Percentage Of Students With A Passing Maths Score"] = results_df["Percentage Of Students With A Passing Maths Score"].map("{:.2f}%".format)
results_df["Percentage Of Students With A Passing Reading Score"] = results_df["Percentage Of Students With A Passing Reading Score"].map("{:.2f}%".format)
results_df["Percentage Of Students With A Passing Maths & Reading Score"] = results_df["Percentage Of Students With A Passing Maths & Reading Score"].map("{:.2f}%".format)
results_df

,Total Number Of Schools,Total Number Of Students,Total Budget,Average Maths Score,Average Reading Score,Percentage Of Students With A Passing Maths Score,Percentage Of Students With A Passing Reading Score,Percentage Of Students With A Passing Maths & Reading Score
0,15,"39,170","$24,649,428",70.34%,69.98%,86.08%,84.43%,85.25%

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [13]:
# School name
school_names = school_data_complete.set_index("school_name").groupby(["school_name"])
school_names

In [14]:
# School type
school_types = school_data.set_index("school_name")["type"]
school_types

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [15]:
# Total students
total_students = school_names['Student ID'].count()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [16]:
# Total school budget
school_budget = school_data.set_index('school_name')['budget']

school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [17]:
# Per student budget
merge_df = pd.merge(school_budget, total_students, on="school_name")
merge_df_totals = merge_df['budget'] / merge_df['Student ID']
merge_df_totals

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [18]:
# Average maths score
average_maths_score = school_names["maths_score"].mean()
average_maths_score

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [19]:
# Average reading score
average_reading_score = school_names["reading_score"].mean()
average_reading_score

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [25]:
# % Passing maths
passing_maths = school_data_complete.loc[school_data_complete["maths_score"] >= 50,:].groupby(["school_name"])["maths_score"].count()
passing_maths_totals = passing_maths / total_students * 100
passing_maths_totals


# passing_maths = len(passing_maths) / len(school_names["reading_score"])

school_name
Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64

In [26]:
# % Passing reading
passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 50,:].groupby(["school_name"])["reading_score"].count()
passing_reading_totals = passing_reading / total_students * 100
passing_reading_totals

school_name
Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64

In [44]:
# Overall passing
overall_passing = (school_data_complete.loc[(school_data_complete["reading_score"] >= 50) & (school_data_complete["maths_score"] >= 50)].groupby(["school_name"])["Student ID"].count())
overall_count = overall_passing / total_students * 100

overall_count

school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
Name: Student ID, dtype: float64

In [48]:
# Dataframe Summary
summary_df = pd.DataFrame({
    "School Type": school_types,
    "Total Students": total_students,
    "Total Budget": total_budget,
    "Per Student Budget": merge_df_totals,
    "Average Maths Scores": average_maths_score,
    "Average Reading Scores": average_reading_score,
    "% Passing Maths": passing_maths_totals,
    "% Passing Reading": passing_reading_totals,
    "% Passing Both Maths & Reading": overall_count
    })
summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Maths Scores,Average Reading Scores,% Passing Maths,% Passing Reading,% Passing Both Maths & Reading
Bailey High School,Government,4976,24649428,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,24649428,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,24649428,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,24649428,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,24649428,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,24649428,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,24649428,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,24649428,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,24649428,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,24649428,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,24649428,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,24649428,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,24649428,638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,24649428,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,24649428,583.0,72.047222,70.969444,91.777778,86.666667,79.722222

In [49]:
# Clean up output
summary_df["Total Budget"] = summary_df["Total Budget"].map("${:,}".format)
summary_df["Per Student Budget"] = summary_df["Per Student Budget"].map("${:,}".format)
summary_df["Average Maths Scores"] = summary_df["Average Maths Scores"].map("{:.2f}%".format)
summary_df["Average Reading Scores"] = summary_df["Average Reading Scores"].map("{:.2f}%".format)
summary_df["% Passing Maths"] = summary_df["% Passing Maths"].map("{:.2f}%".format)
summary_df["% Passing Reading"] = summary_df["% Passing Reading"].map("{:.2f}%".format)
summary_df["% Passing Both Maths & Reading"] = summary_df["% Passing Both Maths & Reading"].map("{:.2f}%".format)
summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Maths Scores,Average Reading Scores,% Passing Maths,% Passing Reading,% Passing Both Maths & Reading
Bailey High School,Government,4976,"$24,649,428",$628.0,72.35%,71.01%,91.64%,87.38%,80.08%
Cabrera High School,Independent,1858,"$24,649,428",$582.0,71.66%,71.36%,90.85%,89.07%,80.79%
Figueroa High School,Government,2949,"$24,649,428",$639.0,68.70%,69.08%,81.65%,82.81%,67.65%
Ford High School,Government,2739,"$24,649,428",$644.0,69.09%,69.57%,82.44%,82.22%,67.47%
Griffin High School,Independent,1468,"$24,649,428",$625.0,71.79%,71.25%,91.21%,88.49%,81.34%
Hernandez High School,Government,4635,"$24,649,428",$652.0,68.87%,69.19%,80.95%,81.88%,66.36%
Holden High School,Independent,427,"$24,649,428",$581.0,72.58%,71.66%,89.93%,88.52%,78.92%
Huang High School,Government,2917,"$24,649,428",$655.0,68.94%,68.91%,81.69%,81.45%,66.71%
Johnson High School,Government,4761,"$24,649,428",$650.0,68.84%,69.04%,82.06%,81.98%,67.19%
Pena High School,Independent,962,"$24,649,428",$609.0,72.09%,71.61%,91.68%,86.59%,79.21%
Rodriguez High School,Government,3999,"$24,649,428",$637.0,72.05%,70.94%,90.80%,87.40%,79.42%
Shelton High School,Independent,1761,"$24,649,428",$600.0,72.03%,70.26%,91.54%,86.71%,78.88%
Thomas High School,Independent,1635,"$24,649,428",$638.0,69.58%,69.77%,83.85%,82.63%,69.48%
Wilson High School,Independent,2283,"$24,649,428",$578.0,69.17%,68.88%,82.79%,81.30%,67.46%
Wright High School,Independent,1800,"$24,649,428",$583.0,72.05%,70.97%,91.78%,86.67%,79.72%

### Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [51]:
top_5_passing = summary_df.sort_values('% Passing Both Maths & Reading', ascending=False).head(5)
top_5_passing

,School Type,Total Students,Total Budget,Per Student Budget,Average Maths Scores,Average Reading Scores,% Passing Maths,% Passing Reading,% Passing Both Maths & Reading
Griffin High School,Independent,1468,"$24,649,428",$625.0,71.79%,71.25%,91.21%,88.49%,81.34%
Cabrera High School,Independent,1858,"$24,649,428",$582.0,71.66%,71.36%,90.85%,89.07%,80.79%
Bailey High School,Government,4976,"$24,649,428",$628.0,72.35%,71.01%,91.64%,87.38%,80.08%
Wright High School,Independent,1800,"$24,649,428",$583.0,72.05%,70.97%,91.78%,86.67%,79.72%
Rodriguez High School,Government,3999,"$24,649,428",$637.0,72.05%,70.94%,90.80%,87.40%,79.42%

### Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [52]:
bottom_5_passing = summary_df.sort_values('% Passing Both Maths & Reading', ascending=True).head(5)
bottom_5_passing

,School Type,Total Students,Total Budget,Per Student Budget,Average Maths Scores,Average Reading Scores,% Passing Maths,% Passing Reading,% Passing Both Maths & Reading
Hernandez High School,Government,4635,"$24,649,428",$652.0,68.87%,69.19%,80.95%,81.88%,66.36%
Huang High School,Government,2917,"$24,649,428",$655.0,68.94%,68.91%,81.69%,81.45%,66.71%
Johnson High School,Government,4761,"$24,649,428",$650.0,68.84%,69.04%,82.06%,81.98%,67.19%
Wilson High School,Independent,2283,"$24,649,428",$578.0,69.17%,68.88%,82.79%,81.30%,67.46%
Ford High School,Government,2739,"$24,649,428",$644.0,69.09%,69.57%,82.44%,82.22%,67.47%

### Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# scores by school size

## Scores by School Type

* Perform the same operations as above, based on school type